<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: headFragment"/>

<body>
<div id="body-wrapper">
    <div class="header-wrapper">
        <nav th:replace="fragments/layout :: navbarFragment"/>
    </div>

    <div id="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!--@thymesVar id="sound" type="String"-->
                    <h1 th:text="'Welcome to veggies ' + ${sound} + ' ' + ${sound} +'!'"/>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>