<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!--@thymesVar id="sound" type="String"-->
    <title>Veggies!!!</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
            padding: 5px;
        }

    </style>
</head>
<body>
<div th:include="menu::#top-menu"></div>
<h2>Vegetables in stock!</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Color</th>
        <th>Price</th>
    </tr>
    <!--@thymesVar id="vegetables" type="io.ar.metechium.domain.Vegetable"-->
    <tr th:each="vegetable : ${vegetables}">
        <td th:text=" ${vegetable.name}"/>
        <td th:text="${vegetable.color}"/>
        <td th:text="${vegetable.price}"/>
    </tr>
</table>

<p> Wanna add some veggies? <a th:href="@{/veggie/add}">Click Here!</a></p>
</body>
</html>