<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Veggie Hello!</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
            padding: 5px;
        }

    </style>
</head>
<body>

<!--@thymesVar id="sound" type="String"-->
<h1 th:text="'Welcome to Veggies ' + ${sound} + ' ' + ${sound} +'!'"/>

<h2>Available Vegetables</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Color</th>
        <th>Price</th>
    </tr>
    <!--@thymesVar id="vegetables" type="io.ar.metechium.domain.Vegetable"-->
    <tr th:each="vegetable : ${vegetables}">
        <td th:text=" ${vegetable.name}"/>
        <td th:text="${vegetable.color}"/>
        <td th:text="${vegetable.price}"/>
    </tr>
</table>
<p> Wanna add some veggies? <a th:href="@{/veggie}">Click Here!</a></p>

</body>
</html>